/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: black;
}

button {
    border: none;
    color:white;
    background-color: #0061ff;
    padding: 12px 15px;
    font-size: 17px;

}

button:hover {
    background-color: #619eff ;
    cursor: pointer;
}

i {
    margin: 5px;
}

.important {
    font-weight: bold;
  }

/* HEADER */

header {
    width: 100%;
    margin-bottom: 80px;
}

nav {
    width: 100%;
    height: 80px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
}

.nav-dropbox,
.nav-user {
    height: 100%;
    display: flex;
    align-items: center;

}


.header-container {
    height: 780px;
    width: 100%;
    margin-top: 80px;
}

.nav-dropbox > * {
    margin: 0 20px;
}

.nav-user > * {
    margin: 0 20px;
}

.upper-head {
    height: 90%;
    background-color: #b4d0e7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.box-container {
    width: 70%;
    height: 95%;
}

.box-segment {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.box-single {
    height: 35%;
    font-size: 36px;

}

.box-double {
    height: 65%;
    display: flex;
    flex-direction: row;
}

.box-text {
    width: 32%;
    padding-top: 30px
}

.box-text button {
    margin: 30px 0;
}

.box-text i {
    font-size: 40px;
    margin-top: 40px;
}

.box-image {
    width: 68%;
}

.box-image img {
    width: 800px;
    position: relative;
    top: 30px;
    left: 0;
}

/* MAIN */

main {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 63%;
    height: 1500px;
    display: flex;
    flex-direction: column;
}

.main-textbox {
    height: 15%;
}

.multiple-columns {
    height: 65%;
    display: flex;
    justify-content: space-between;
}

.single-column {
    height: 20%;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items:flex-end
}

.column {
    height: 100%;
    width: 30%;
    border: rgb(209, 209, 209) 1px solid;
    display: flex;
}

.sub-details {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sub-logo {
    width: 100%;
    height: 5%;
    border-bottom:  rgb(209, 209, 209) 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-info{
    width: 100%;
    height: 95%;
    padding: 15px 25px;
}

.sub-info > * {
    margin: 15px 0;
}

.sub-info div{
    font-size: 15px;
}

.horizontal-column {
    height: 85%;
    width: 100%;
    background-color: red;
}

.main-textbox h2 {
    font-size: 40px;
    margin-top: 20px;
}

.radio-container {
    display: flex;
    margin-top: 70px;
  }

.radio-label {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }

.radio-input {
    display: none;
  }
  
  .radio-custom {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 50%;
    margin-right: 8px;
  }


.radio-input:checked + .radio-custom::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .radio-input:checked + .radio-custom {
    border: 5px solid #007bff;
  }


  .info {
    display: flex;
    align-items: flex-start; 
  }
  
  .info i {
    margin-right: 10px; 
  }
  
  .info-text {
    display: flex;
    flex-direction: column;
  }
 
  .month {
    margin-bottom: 50px;

  }
  
  .sub-info h3 {
    margin-bottom: 10px;
    font-size: 25px;
  }
  
  .wide{
    padding: 13px 30px;
    margin-top: 70px;
  }

  .sub-info a {
    text-decoration: underline;
    color: #0061ff;
  }

  .sub-info a:hover {
    text-decoration: underline;
    color: #7dafff;
  }
  
  .separator {
    width: 25%;
    margin: 40px 0;
  }

  .fa-check {
    color: #0061ff;
  }